body{
    font-family: 'Consolas'
}
div.yellow{
    background-color: yellow;
    color: green;
    font-size: 50px;
    text-align: center;
    margin: 40px 0px;
}
input{
    font-size: 40px;
}
div.red{
    background-color: red;
    color: white;
    float: left;
    padding: 20px;
    text-align: center;
}
a:visited, a:link{
    color: green;
    text-decoration: none;
}